*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:rgba(193, 164, 204, 0.767);
}
/* h1{
    display:inline;
} */
#mainHeading{
    display:flex;
    justify-content:space-between;
    font-family:'Courier New';
    color:rgb(47, 79, 79);;
    margin: 1.75rem;
    padding-left: 0rem;
    
}
#mainHeading:hover{
    text-decoration-line: underline;
    text-shadow: rgb(30, 53, 53);
    cursor:context-menu;
}
#signUp{
    background-color: rgba(193, 164, 204, 0.767);
    color: rgba(63, 19, 80, 0.767);
    padding: .5rem;
    border-radius: 13%;
}
#signUp:hover{
    background-color: rgba(63, 19, 80, 0.767);
    color:rgb(32, 46, 85);
    text-decoration-line: none;
    font-weight: bolder;
    transition: .29s;
    cursor: pointer;
}
#Para{
    font-family: 'Lucida Sans';
    color:rgb(54, 128, 128);
    margin: 0.7rem;
    padding: 0.8rem;
}
#program{
    display:flex;
    
    background-color: rgb(32, 46, 85);
    font-family: Consolas, 'Courier New', monospace;
    font-size: 1.2rem;
    font-weight:bold;
    color: rgb(188, 196, 199);
    justify-content:center;
    margin-left:20%;
    margin-right:25%;
    margin-top: 1%;
    padding-bottom: 1%;
    border-radius: 1.5rem;
}
#program:hover{
    margin-left:19.5%;
    margin-right:24.5%;
    margin-top: .5%;
    padding-top: 0.2%;
    padding-bottom: 1.5%;
    border-radius: 1.5rem;
    transition: ease-in-out 55ms;
}
#endNote{
    margin-top:1rem;
    display:flex;
    margin: 0.7rem;
    padding: 0.8rem;
    flex-direction: column;
    color:rgb(54, 128, 128);
    font-family: 'Lucida Sans';
    justify-content: space-evenly;
}
#next{
    margin-top:1rem;
    margin-right: 75% ;
    display:flex;
    justify-content: space-evenly;
}
.nextButton{
    background-color: rgba(193, 164, 204, 0.767);
    color: rgba(63, 19, 80, 0.767);
    padding: .5rem;
    border-radius: 13%;
}
.nextButton:hover{
    background-color: rgba(63, 19, 80, 0.767);
    color:rgb(32, 46, 85);
    transition:.29s;
    font-weight: bolder;
    cursor: pointer;
    
}
footer{
    background-color:rgba(126, 53, 153, 0.767);
    color:rgb(23, 31, 104);
    font-family: 'Lucida Sans';
    font-weight: lighter;
}