        
        #firstPara{
            display:inline;
            color:darkgrey;/* Color by name*/
        }
        #firstPara:hover{
            color:rgb(114, 114, 114);
            background-color: rgb(173, 110, 224);
        }
        #secondPara{
            color: rgb(25, 202, 114);/* color by rgb value*/
        }
        #thirdPara{
            color: rgb(145, 240, 232);
            background-color: #dd18499c;/*Color by hex value*/
        }
        .allhead{
            font-family:monospace;
            display: flex;
            justify-content: center;
            color: rgb(0, 253, 148);
        }
        #secHeading{
            
            align-self: flex-start;
        }
        body{
            background-color: rgb(122, 48, 219);
        }
